<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.system.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.example.system.domain.UserRole">
    <!--@mbg.generated-->
    <result column="USER_ID" jdbcType="BIGINT" property="userId" />
    <result column="ROLE_ID" jdbcType="BIGINT" property="roleId" />
  </resultMap>
</mapper>